/**
@base.css
基础样式，描述的是任何场合下，页面元素的默认外观。
它的定义不会用到 class 和 ID 。
css reset也属于此类。
*:
  html:
    body:
      ul,ol,picture,img
 */

/* === Global set === */
*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*::after,
*::before{
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

body{
  color: #333;
  line-height: 1.5;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  word-wrap: break-word;
  border: 0;
  letter-spacing: 0.03em;
}

header,
menu,
nav,
main,
section,
article,
aside,
details,
figcaption,
figure,
hgroup,
footer{
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

picture,
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  width： auto9; /* ie8 */
}

a>img {
	border:none;
}

a {
  color: #ce04ce;
  text-decoration: none;
  transition: color 150ms ease;
}

a:active, a:focus, a:hover {
  color: #404040;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}
